<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-imeigetter" version="1.0">


	<name>IMEIGetter</name>
	<description>IMEIGetter is a cordova plugin to get the IMEI number in android devices</description>
	<license>MIT</license>
	<keywords>cordova, ionic, imei, android</keywords>
	
        <js-module src="www/IMEIGetter.js" name="IMEIGetter">
            <clobbers target="cordova.plugins.IMEIGetter" />
	</js-module>
		
  <platform name="android">
  
    <config-file target="res/xml/config.xml" parent="/*">
		<feature name="IMEIGetter">
			<param name="android-package" value="tomloprod.IMEIGetter"/>
		</feature>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/*">
    		<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    </config-file>

    <source-file src="src/android/IMEIGetter.java" target-dir="src/tomloprod/imeigetter"/>
  
  </platform>

</plugin>
